* {
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html { scroll-behavior: smooth; scroll-padding-top: 88px; line-height:1.5; }
html, body { min-height: 100vh; position: relative; }
body { font-size: 8px; font-family: 'Noto Sans', sans-serif; }

main {
    display: flex; justify-content: center; flex-direction: column; 
    margin: 2rem auto 0 auto;
    padding: 0 5% 112px 5%;
}

h1 { font-size: 48px; line-height: 72px; }
h2 { font-size: 32px; line-height: 64px; }
h3 { font-size: 24px; line-height: 48px; }
h4 { font-size: 21px; line-height: 40px; }
p { font-size: 16px; line-height: 32px;  word-wrap: break-word; }
input { border-radius: 5px; padding: 0 1%;}
small { font-size: 14px; line-height: 24px; }
button { font-family: 'Noto Sans', sans-serif; }
button:hover { cursor: pointer; opacity: .7; transition: .2s ease-in-out; }

h1, h2 { font-weight: 700; }

.ta-center { text-align: center; }

.margin-top-1 { margin-top: 1rem; }
.margin-top-2 { margin-top: 2rem; }
.margin-top-3 { margin-top: 3rem; }
.margin-top-4 { margin-top: 4rem; }
.margin-bottom-1 { margin-bottom: 1rem; }
.margin-bottom-2 { margin-bottom: 2rem; }
.margin-bottom-3 { margin-bottom: 3rem; }
.margin-bottom-4 { margin-bottom: 4rem; }

div:has(p) { margin-top: 1rem; }

.disabled { opacity: .7; }

/*DARK/LIGHT MODE*/

@media (prefers-color-scheme: dark) {
    body { background-color: #1e2028; color: #dbdee2; }
}
@media (prefers-color-scheme: light) {
    body { background-color: #f5f5f5; color: #111; }
}


/*HEADER*/

header {
    display: flex; flex-direction: row;
    justify-content: space-between;
    padding: .5rem 3%;
    background-color: #1a1c23;
}
header nav ul { display: flex; flex-direction: row; }
nav ul li { list-style: none; margin: 0 1rem; }
nav ul li a  { 
    font-size: 20px; line-height: 32px; color: #fff; 
    border-top: 2px transparent solid; border-bottom: 2px transparent solid; 
}
nav ul li a:hover { 
    border-top: 2px #fff solid; transition: .3s ease-in-out; 
    border-bottom: 2px #fff solid; transition: .3s ease-in-out; 
}


/*FOOTER*/

footer {
    position: absolute;
    width: 100%; height: 48px;
    bottom: 0;
    padding: 0 3%;
    background-color: #1a1c23;
}
footer p { line-height: 48px; color: #dbdee2; }


/*TOP HEADER*/

.top-header { margin: 0 auto 2rem auto; }


/*OVERLAY*/

.overlay {
    display: none; position: fixed;
    z-index: 1000;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin-top: 0;
}
.overlay.active {
    display: flex; justify-content: center; align-items: center;
    color: #000;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
}
.overlay-message {
    background-color: #4234AD; color: #fff;
    border-radius: 10px;
    display: flex; flex-direction: column;
    padding: 1rem 1%;
    margin-top: 0;
    min-width: 200px;
}
.overlay-message p { font-size: 20px; line-height: 32px; text-align: center; }
.overlay-message div .overlay-close-btn { margin-top: 1rem; }
.overlay-close-btn {
    background-color: #604BFA; color: #fff; border-radius: 5px;
    font-weight: 700; font-size: 18px; line-height: 32px;
    width: 100%; text-align: center;
}


/*HOME*/

.random-stuff ul:first-of-type { 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 240px));
	list-style: none;
	margin-bottom: 4rem;
	justify-content: space-around; 
    max-width: 2000px;
}
.random-stuff ul li { 
	width: 100%; max-width: 240px; min-height: 15rem;
    align-self: flex-start; 
    margin: 1rem auto; padding: 1rem 5%;
	border-radius: 10px;
    /* background-color: #5B617A;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
	0px 2px 4px rgba(0,0,0,0.1), 
	0px 4px 8px rgba(0,0,0,0.1), 
	0px 8px 16px rgba(0,0,0,0.1);; */
}
.random-stuff h2 { font-size: 28px; line-height: 48px; }
.random-stuff section { margin-bottom: 1rem; }
.random-stuff ul li ul { margin: 1rem 0 0 10% !important; max-width: auto; }
.random-stuff ul li ul li {
    font-size: 16px; line-height: 24px; list-style: circle;
    min-height: auto;
    margin: 0; padding: 0; border-radius: 0;
}

@media only screen and (max-width: 576px) {
    .overlay-message { padding: 1rem 3%; }
    .random-stuff ul li { min-height: auto; }
}

/*APOD*/

.apod {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    max-width: 1440px; margin: 0 auto; 
}
.apod section:has(h1), .apod section:has(h2), .apod div:has(img, iframe) { width: 50%; }
.apod div:has(img, iframe) img, iframe { width: 100%; max-width: 90%; height: auto; }

.previous-apod-container section:has(h1) { 
    display: flex; flex-direction: column; 
    margin: 6rem auto 4rem auto; justify-content: center;
}
.previous-apod-container h1 { text-align: center; }
.previous-apod-container section div { display: flex; justify-content: center; }
.previous-apod-container button { 
    font-family: 'Noto Sans', sans-serif; 
    font-size: 18px; line-height: 32px;
    border-radius: 5px; padding: 0 .5rem;
    background-color: #604BFA; color: #fff;
}
.previous-apod-container button:hover { cursor: pointer; opacity: .5; }
.previous-apod { margin-bottom: 2rem; }
.previous-apod:last-child { margin-bottom: 0; }


@media only screen and (max-width: 1100px) {
    .apod { flex-direction: column; }
    .apod div:has(img, iframe) { margin-bottom: 2rem; }
    .apod section:has(h1), .apod section:has(h2), .apod div:has(img, iframe) { width: 100%; }
    .apod div:has(img, iframe) img, iframe { max-width: 1100px; }
}


/*LANGUAGE PRACTICE*/

.language-practice-header { text-align: center; margin-bottom: 3rem; }
.back-to-learning-menu {
    font-size: 20px; line-height: 32px;
    margin-left: 5%;
    background-color: #604BFA; 
    padding: .5rem 1rem; border-radius: 5px;
    width: 100px; text-align: center;
}
.back-to-learning-menu a { color: #fff; }
.language-practice-options {
    display: flex; flex-flow: row wrap;
    max-width: 600px;
    margin: 0 auto; justify-content: space-between; 
}
.language-practice-option {
    width: 200px; 
    padding: 2rem 0;
    display: flex; margin: 0 auto 2rem auto; justify-content: center;
    background-color: #332885;
}
.language-practice-option:hover {
    cursor: pointer;
    transform: scale(1.05); transition: .5s ease-in-out;
}
.language-practice-option p {
    font-size: 32px; line-height: 64px;
}
.language-practice-container {
    display: flex; flex-direction: column; justify-content: center; margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 0 1rem 1rem 1rem;
    background-color: #332885;
    border-radius: 10px;
}
.language-practice-container form { margin-top: 1rem; }
.language-practice-container p {
    font-size: 20px; line-height: 32px;
}
.language-practice-container label, input { font-size: 16px; line-height: 32px;}
.language-practice-container div:first-child { 
    display: flex; flex-direction: column;
}
.language-practice-container div:has(button) {
    margin-top: 1rem;
}
.language-practice-container button {
    border-radius: 5px;
    padding: 0 1rem;
    background-color: #604BFA; color: #fff;
    width: 100%;
    font-size: 16px; line-height: 32px;
}

.practice-definitions-container {
    display: flex; flex-direction: row; 
    width: 100%; max-width: 1600px;
    margin: 0 auto; justify-content: space-between; align-items: center;
}
.words {
    display: flex; flex-flow: row wrap; 
    justify-content: flex-start; margin: 0 auto;
    width: 100%;
}
.words li {
    list-style: none;
    display: flex; flex-direction: column; justify-content: center;
    min-width: 144px; height: 144px;
    background-color: #332885;
    border-radius: 20px;
    margin: 2rem; 
    font-size: 24px; line-height: 48px; 
    text-align: center;
}
.words li:hover {
    cursor: pointer;
    transform: scale(1.05); transition: .5s ease-in-out;
}
.definition-container {
    display: flex; flex-direction: column;
    margin: 0 auto; justify-content: center; 
    width: 300px; height: 200px;
}
.definition-container p {
    text-align: center;
    font-size: 24px; line-height: 48px;
}

@media only screen and (max-width: 700px) {
    .practice-definitions-container { flex-direction: column-reverse; }
    .words { justify-content: center; }
}

/*CRYPTO*/

.crypto-container {
    display: flex; flex-wrap: wrap;
    width: 100%; max-width: 2000px;
    margin: 0 auto; justify-content: space-between;
}
.crypto-ticker-container { width: 80%; }
.crypto-ticker-btns { 
    width: 20%; 
    display: flex; 
    justify-content: center; align-items: flex-start;
    margin: 0 auto; 
}

.crypto-ticker-btns ul { 
    display: flex; flex-direction: column;
    margin: 0 auto; justify-content: center;
}
.crypto-ticker-btns ul { list-style: none; }
.crypto-ticker-btns ul li { margin: .5rem 0; }
.crypto-ticker-btns ul li button {
    font-size: 16px; line-height: 32px;
    border-radius: 5px;
    padding: 0 1rem;
    background-color: #604BFA; color: #fff;
    width: 100px;
}
.crypto-ticker-btns ul li button:hover { cursor: pointer; }

@media only screen and (max-width: 576px) {
    .crypto-ticker-container { width: 100%; }
    .crypto-ticker-btns { width: 100%; margin: 2rem auto 0 auto; }
    .crypto-ticker-btns ul { flex-flow: row wrap; justify-content: space-around; }
    .crypto-ticker-btns ul li { margin: 1rem; }
}